<%= image_tag('http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6/silver/iphone6-silver-select-2014_GEO_US?wid=470&hei=556&fmt=png-alpha&qlt=95&.v=cdYkN0',:width => 100, :height => 100, :border => 0, :alt => '', :title => '') %><br/>
  <%= @product.name %><br/>
  <%= @product.product_details %><br/>
  <%= @product.price %><br/>
  <a href="#" class="cart_click">add to cart</a>
  <script type="text/javascript">
  
  var pro_id = <%= @product.id %>;
  var usr = "<%= current_user %>";
  <% if !current_user.present? %>
    $('.cart_click').click(function() {
        alert("please login");

        });
  <% elsif current_user.role.name !="admin" %>
  var cart_id = <%= current_user.cart.id %>;
      $('.cart_click').click(function() {        
          $.ajax({
          url: "/cart/add_to_cart",
          type: "POST",
          data: {id: cart_id, product_id: pro_id},
          success: function(response){
            $(".cart").html(response)
          }
        });
          });
  <% end %>


  </script>